  @charset "UTF-8";

/* ===============================================
Base
=============================================== */

/*
  Reset
----------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  Default Style
----------------------------------------------- */
body {
  font-family: 'Noto Sans JP', '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo UI', 'メイリオ', Meiryo, sans-serif;
  line-height: 1.5;
  color: #212121;
}

img {
  vertical-align: bottom;
}

/* ===============================================
  Layout
=============================================== */

/*
  Centering
----------------------------------------------- */
.container {
  width: 960px;
  margin: 0 auto;
}


/*
  header design
----------------------------------------------- */
header h1 {
font-size:30px;
font-weight:bold;
width: 960px;
height: 60px;
background-image: url(wood-texture_00016.jpg);
text-align: center;
border-bottom: solid 3px #87CEFA;
}

header h1:first-letter {
font-size: 1.5em;
color: lightyellow;
}



.header-image ul img {
  width: 150px;
}

.header-image ul {
  height: 100px;
  text-align: center;
  padding-right: 5px;
}



.header-image {
    overflow: hidden;
    margin-top: 20px;
    padding-top: 20px;
    clear: both;
    background-image: url(b119.jpg);
    height: 250px;
}



.header-image li {
    float: left;
    width: 20%;
    height: 20%;
}


.header-image ul li:first-child {
    transform: rotate(0deg);
}

.header-image ul li:nth-child(2) {
    transform: rotate(-10deg);
}

.header-image ul li:nth-child(3) {
    transform: rotate(-5deg);
}

.header-image ul li:nth-child(4) {
    transform: rotate(5deg);
}

.header-image ul li:nth-child(5) {
    transform: rotate(10deg);
}

/*
  main design
----------------------------------------------- */

.main-message {
    padding: 0.5em 1em;
    margin: 2.5em auto;
    color: #FFF;
    background-image: url(wood-texture_00016.jpg);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    height: 100px;
    width: 650px;

}
.main-message p {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    padding-top: 15px;
}



/*
  navigation design
----------------------------------------------- */
.navigation {
width: 960px;
}


.navigation ul {
overflow: hidden;
font-size:1.3em;
display:inline-block;
animation: key1 .5s ease infinite alternate;
width: 960px;
margin-top: 50px;
margin-left: 255px;
}

@keyframes key1{
  0% {transform: translateY(0px);}
  100% {transform: translateY(-10px);}
}


.navigation li {
float: left;
width: 150px;
box-sizing: border-box;
margin-top: 75px;
/* margin-right: 20px; */
}

.btn_f {
	width: 150px;
	height: 100px;
  background: #FFF;
  background-image: url(wood-texture_00016.jpg);
	border: 1px solid grey;
	border-radius: 70px;
	-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	color: black;
	/* padding: 42px 5px 5px; */
	display: block;
	text-align: center;
	font-weight: bold;
  font-size: 100%;
  text-decoration: none;
  padding-top: 20px;
}

.btn_f:hover {
	background-image: url(b119.jpg);
	color: rgb(22, 20, 20);
  border: 1px solid #FFF;

}

.btn_f a {
  text-decoration: none;
  display: inline-block;
}






/*
  footer design
----------------------------------------------- */
.shikaku {
background-image: url(wood-1140564_1280.jpg);
height: 80px;
}

.shikaku p {
text-align: center;
color: white;
font-weight: bold;
font-size: 1.3em;
}


.sankaku{
  width: 30px;
  height: 30px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid;
  margin: 0 auto;
}

/*
  glass_product footer 共通
----------------------------------------------- */

.lastlastmessage {
  width: 960px;
  height: 35Px;
  margin-top: 70px;
  background-image: url(wood-1140564_1280.jpg);

}

.lastlastmessage p {
  text-align: center;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}




/*Page2::::
  glass_product header design
----------------------------------------------- */

.stage2 h1 {

color: rgb(19, 17, 17);
font-size:1.9em;
font-weight:bold;
font-family:&amp;quot;sans serif&amp;quot;;
text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px
#ffae00, 0 0 70px #ffae00, 0 0 80px #ffae00, 0 0 100px #ffae00, 0 0 150px #ffae00;
width: 960px;
height: 80px;
text-align: center;
}


.stage2 {
  width: 960px;
  height: 55px;
  background-color: lightyellow;
}


.stage2 ul {
  overflow: hidden;
  width: 960px;
  margin-top: 2px;
}


.stage2 li {
  float: right;
  display: block;
  padding-right: 25px;
  padding-top: 10px;
  padding: .25em 0;
  margin-right: 15px;
  font-size: 1.5em;
}

.stage2 span {
  font-weight: bold;
  float: right;
  margin-right: 10px;
  font-size: 1.2em;
}



.stage2 a {
  display: block;
 text-decoration: none;
  color: black;
  padding: .25em 0;
  font-weight: bold; }



.container {
  width: 960px;
  margin: 0 auto;
}


.slide-show {
width: 320px; /* スライドショーの幅 */
max-width: 100%; /* スマホで表示が欠けないように */
margin: 40px auto; /* 中央揃え */
position: relative;
margin-bottom: 80px;
}

.slide-show img {
animation: show 12s infinite; /* 12秒のスライドショーを繰り返し */
max-width: 100%;
height: auto;
opacity: 0;
position: absolute; /* 画像を重ねて表示 */
left: 0;
top: 0;
width: 90%;
border-radius: 50%;
background-position: left top;
}

@keyframes show {
0% {opacity: 0}
17% {opacity: 1}
33% {opacity: 1}
50% {opacity: 0}
50% {opacity: 0}
33% {opacity: 1}
17% {opacity: 1}
}

.slide-show img:nth-of-type(1) {
position: relative;
}

.slide-show img:nth-of-type(2) {
animation-delay: 0s;
}

.slide-show img:nth-of-type(3) {
animation-delay: 4s;
}

.slide-show img:nth-of-type(4) {
animation-delay: 7s;
}


.slide-show img:nth-of-type(5) {
animation-delay: 10s;
}

.slide-show img:nth-of-type(6) {
animation-delay: 13s;
}

.slide-show img:nth-of-type(7) {
animation-delay: 16s;
}




.message {
margin-top:50px;
margin-bottom: 25px;
white-space:nowrap;
background-image: url(b119.jpg);
height: 50px;
width: 960px;
position: relative;

}

.message p {
text-align: center;
font-weight: bold;
font-size: 1.2em;
line-height: 2em;
}


/*glass_product main design　flexbox
----------------------------------------------- */

*, *:before, *:after {
	box-sizing: border-box;
}
.col_3{
	width: 960px;
	display: flex;
	display: -ms-flexbox; /* IE10 */
	flex-wrap: wrap;
  -ms-flex-wrap: wrap; /* IE10 */
  /* justify-content: center; */
  /* flex-direction: row; */
    justify-content: center;
  /* align-items: center; */
  margin-right: 2px;

}
.col_3 > div{
	width: 29%;
  padding-top: 35px;
  justify-content: space-between;
}

@media screen and (max-width: 960px) {
	.col_3 > div{
		width: 100%;
	}
}
@media screen and (max-width: 480px) {
	.col_3 > div{
		width: 100%;
	}
}


.col_3 img {
  width: 95%;
  height: auto;
}

.col_3 p {
 background-image: url(wood-texture_00016.jpg);
  height: 80px;
  width: 95%;
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
}

/*
  button-pagetop
----------------------------------------------- */
.button-pagetop {
    position: fixed;
    width: 80px;
    height: 80px;
    right: 8px;
    bottom: 48px;
    background-image: url(wood-texture_00016.jpg);
    opacity: 0.7;
    border-radius: 50%;
    z-index: 10;
}

.page-top-icon {
    color: black;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
}



/*
  glass_product footer
----------------------------------------------- */

.lastlastmessage {
  width: 960px;
  height: 80Px;
  margin-top: 50px;
  background-image: url(wood-1140564_1280.jpg);

}

.lastlastmessage p {
  text-align: center;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}
